@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0f172a;
  }

  .dark {
    --background: #0f172a;
    --foreground: #f8fafc;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    transition-property: background-color, border-color, color, fill, stroke;
    transition-duration: 300ms;
  }
}